bactrack.egg==info
descartes==1.1.0
ipython==8.19.0
ipywidgets==8.1.2
matplotlib==3.8.2
mpl_interactions==0.24.1
natsort==8.4.0
networkx==3.1
networkx==3.2.1
numpy==1.26.4
opencv_python_headless==4.8.1.78
opencv_python_headless==4.9.0.80
pandas==2.2.2
Pillow==10.1.0
Pillow==10.3.0
PyQt5==5.15.10
PyQt6==6.7.0
PyQt6_sip==13.6.0
Shapely==2.0.4
tqdm==4.66.1
